*,
html,
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 20px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    outline: 1px solid red;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.side {
    height: 100vh;
    width: 100%;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(88, 177, 199, 0.698) 0%, rgba(32, 140, 212, 0.272) 100%);
    position: relative;
}

.right {
    overflow-y: scroll;
}

.list-item {
    margin: 0.5rem;
}


.crossword-bg {
    object-fit: cover;
    width: 100%;
    position: absolute;
    height: 100%;

}

.wrapper .caption {
    position: relative;
    z-index: 10;
    color: #fff;
    text-align: center;
}

.wrapper .caption h1 {
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 1em;
}

.wrapper .caption .button {
    background: #000;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.25s ease all;
}

.wrapper .caption .button:hover {
    background: #ffd346;
    color: #000;
}

.wrapper .left:hover .image {
    transform: scale(1.2);
}

.strokeme {
    color: rgb(15, 14, 85);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 10px 10px 0 #000;
}

@media (max-width: 768px) {
      .wrapper {
            flex-direction: column;
      }
}
